package templates

templ Index() {
	<div class="rounded-sm border-slate-400 border-2 p-3 m-4 max-w-xl text-sm mx-auto">
		<div>
			<p>
				Hello. Please log in via the FOKS command-line interface:
			</p>
			@code() {
				<p>
					$ foks admin web
				</p>
			}
		</div>
	</div>
}
