package templates

templ OAuth2Callback() {
	<div class="rounded border-slate-400 border-2 p-3 m-4 max-w-xl text-sm mx-auto">
		<div>
			<h1 class="font-semibold text-slate-700 mb-1 text-base">
                OAuth2 Login Complete
			</h1>
            <p class="text-sm">Please complete the signup flow from your commmand-line interface.</p>
		</div>
	</div>
}

